html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

a{
    color: #01579b;
    transition: color 0.3 ease;
}

a:hover{
    color: #00b0ff;
}

h1{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}

.loader{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.error{
    width: 100%;
    display: block;
    background: #dc3545;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.form-search {
    margin: auto;
    text-align: center;
}

.form-search input{
    display: block;
    margin: auto;
    padding: 0.25rem;
    font-size: 1rem;
}

.header{
    padding: 2rem;
    position: sticky;
    top:0;
    text-align: center;
    background: #fff;
}

.header > *{
    margin: 1rem auto;
}

.menu{
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

.grid-fluid {
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #e3e3e3;
}

.post-card p{
    display: flex;
    justify-content: space-between;
}